header {
  display: grid;
  width: 60%;
  margin: auto;
}

nav {

}

.navRow{
  display: grid;
  grid-row: 2;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  line-height: 4vw;
  background-color: green;
}

#home {
  grid-column: 2;
}

#logo {
  text-align: center;
  background-color: red;
  font-size: 
}
